* {
    padding: 0;
    margin: 0;
}

.congratulation {
    width: 95%;
    margin: auto;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto auto auto auto auto;
}

.box1 {
    background-color: lightgray;
    grid-column: 1/6;
    height: 90px;
    padding: .5%;
    box-shadow: 2px 5px 6px black;
}

.box1 .logo {
    width: 10%;
    height: 95%;
    float: left;
}

.box1 .logo img {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    box-shadow: 4px 6px 4px black;
}

.menu {
    width: 100%;
}

.nav {
    float: right;
    margin: 2.5%;
    /* padding: 10px; */
    width: 40%;
}

.nav a {
    padding: 3% 5%;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    box-shadow: 2px 4px 6px black;
}

.nav a:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.box2 {
    background-color: cornflowerblue;
    grid-column: 1/6;
    height: 50px;
    /* padding: .5%; */
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.Heading {
    text-align: center;
    padding: .5%;
}

.Heading h2 {
    color: rgb(197, 224, 75);
    text-transform: uppercase;
    font-style: oblique;
    font-size: 140%;
}

.box3 {
    background-color: rgba(203, 182, 226, 0.637);
    grid-column: 1/1;
    height: 600px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box4 {
    background-color: white;
    grid-column: 2/-1;
    height: 600px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box5 {
    background-color: lightgray;
    grid-column: 2/5;
    height: 100px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box6 {
    background-color: rgba(218, 65, 65, 0.404);
    grid-column: 1/3;
    height: 200px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box7 {
    background-color: rgb(4, 78, 97);
    grid-column: 3/-1;
    height: 250px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box8 {
    background-color: lightgray;
    grid-column: 2/5;
    height: 100px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box9 {
    background-color: rgb(4, 78, 97);
    grid-column: 1/4;
    height: 300px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box10 {
    background-color: rgba(218, 65, 65, 0.404);
    grid-column: 4/-1;
    height: 200px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box11 {
    background-color: lightgrey;
    grid-column: 1/-1;
    height: 150px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box12 {
    background-color: rgb(127, 114, 161);
    grid-column: 1/1;
    height: 230px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box13 {
    background-color: rgb(196, 241, 204);
    grid-column: 2/5;
    height: 180px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box14 {
    background-color: rgb(127, 114, 161);
    grid-column: 5/-1;
    height: 230px;
    box-shadow: 2px 4px 6px rgb(60, 62, 63);
}

.box15 {
    background-color: rgb(29, 27, 27);
    grid-column: 1/-1;
    height: 300px;
    color: white;
}